<%- include("../partials/default/header") %> 
<%- include("../partials/default/breadCrumb") %> 
<!-- Welcome Section Starts -->
        <section class="welcome-section padding-top-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 align-self-end">
                        <div class="welcome-image welcome-image-1">
                            <img src="assets/images/welcome-image-1.jpg" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="welcome-image welcome-image-2">
                            <img src="assets/images/welcome-image-2.jpg" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 align-self-center">
                        <div class="welcome-text">
                            <div class="section-title margin-bottom-30">
                                <h2>welcome to <span><span style="text-transform: lowercase;">n</span></span>Academy</span></h2>
                            </div>
                            <p>Our Coding Academy is geared towards training young people towards building a digital economy, so they can find jobs and lead vastly improved lives.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="welcome-image welcome-image-3">
                            <img src="assets/images/welcome-image-3.jpg" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="welcome-image welcome-image-4">
                            <img src="assets/images/welcome-image-4.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Welcome Content Starts -->
        <section class="welcome-content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9">
                        <div class="section-title margin-bottom-30">
                            <h2>the leading community for <span>Startup and Innovation</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>When you have a great story about how your product or service was built to change lives, share it. The "About Us" page is a great place for it to live, too. Good stories humanize your brand, providing context and meaning for your product. What’s more, good stories are sticky -- which means people are more likely to connect with them and pass them on. Yellow Leaf Hammocks tells users about its product by describing.</p>
                        <p class="margin-top-30">how the hammocks empower artisan weavers and their families. The company breaks down different pieces of the story into sections that combine words and easily digestible graphics, painting a picture instead of big chunks of text. They're clear about why they're different: "Not a Charity," the page reads.</p>
                    </div>
                </div>
            </div>
        </section>

        <%- include("../partials/default/counter") %> 

        <%- include("../partials/default/category") %> 

        <!-- Analysis Section Starts -->
        <section class="analysis-section">
            <div class="container">
                <div class="analysis-bg-color">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="analysis-content">
                                <div class="course-title margin-top-10">
                                    <h3>Introduction to Programming</h3>
                                </div>
                                <p class="margin-top-20">A program is a set of instructions that tell the computer to do various things; sometimes the instruction it has to perform depends on what happened when it performed a previous instruction.</p>
                                <ul class="margin-top-20">
                                    <li><i class="fas fa-circle"></i><span>Web Development</span></li>
                                    <li><i class="fas fa-circle"></i><span>Data structures and algorithms</span></li>
                                    <li><i class="fas fa-circle"></i><span>And lots more</span></li>
                                </ul>
                                <div class="course-price-info margin-top-20">
                                    <!-- <span class="best-seller">best seller</span> -->
                                    <span class="course-category">web design</span>
                                    <span class="course-price">₦ 200.00</span>
                                    <div class="course-instructor">
                                        <img src="assets/images/course-instructor-2.png" alt="instructor">
                                        <h6>Catherine Jonathan</h6>
                                    </div>
                                </div>
                                <div class="course-info margin-top-30">
                                    <div class="course-enroll">
                                        <span>enrolled 0</span>
                                    </div>
                                    <div class="course-video">
                                        <i class="fas fa-play-circle"></i>
                                        <span>36 lectures</span>
                                    </div>
                                    <div class="course-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>2h 40mins</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 offset-xl-1 col-lg-6">
                            <div class="video-popup-area">
                                <div class="video-play-button">
                                    <a href="https://www.youtube.com/watch?v=8AGgbIQyqR8" class="button-video">
                                        <i class="fa fa-play"></i>
                                    </a>
                                </div>
                                <img src="assets/images/about-image.png" alt="image">
                                <div class="image-absolute">
                                    <img src="assets/images/hero-small-image-4.png" alt="image" class="top-absolute">
                                    <img src="assets/images/hero-small-image-2.png" alt="image" class="bottom-absolute">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include("../partials/default/instructorsPopulate") %> 

<%- include("../partials/default/footer") %> 