<%- include("../partials/admin/adminHeader") %> 
<style>
	.single-course{
		background-color: rgb(238, 120, 10);
		padding: .4rem;
		margin-top: 1rem;
		margin: .5rem;
		border-radius: .4rem;
	}
	.single-course a{
		color: white;
		font-size: 1.3rem;
	}
</style>
<!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- hambuga -->
                <%- include("../partials/admin/hamburger") %>
                <!-- hambuga -->
                <%- include("../partials/admin/adminBreadCrumb") %> 
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="white-box">
                            <div class="user-bg"> <img width="100%" alt="user" src="<%= avatar %> ">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)"><img src="<%= avatar %> " class="thumb-lg img-circle" alt="Profile Pic"></a>
                                        <h4 class="text-white"><%= singleStudent.name %> </h4>
                                        <h5 class="text-white"><%= singleStudent.email %> </h5> </div>
                                </div>
                            </div>
                            <!-- <div class="user-btm-box">
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-purple"><i class="ti-facebook"></i></p>
                                    <h1>258</h1> </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-blue"><i class="ti-twitter"></i></p>
                                    <h1>125</h1> </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-danger"><i class="ti-dribbble"></i></p>
                                    <h1>556</h1> </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="white-box">
                            <form action="/admin/profile-update" enctype="multipart/form-data" method="POST" class="form-horizontal form-material">
                                <div class="form-group">
                                    <label class="col-md-12">Full Name</label>
                                    <div class="col-md-12">
                                        <input type="text" name="name" value="<%= singleStudent.name %> " class="form-control form-control-line" disabled> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <input type="email" name="email" value="<%= singleStudent.email %> " class="form-control form-control-line" name="example-email" id="example-email" disabled> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Phone No</label>
                                    <div class="col-md-12">
                                        <input type="text" name="phone" value="<%= singleStudent.phone %> " class="form-control form-control-line" disabled> 
                                    </div>
																</div>
																<div class="form-group">
																	<label class="col-md-12">Courses History</label>
																	<div class="col-md-12">
																		<%if (singleStudent.courses) { %>
																			<%singleStudent.courses.forEach(student => {%>
																				<span class="single-course"><a href="/admin/all-courses"><%= student.courseName %></a></span>
																			<% }) %> 
																		<% } else { %> 
																			
																		<% } %> 
																	</div>
															</div>
                           
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>

<%- include("../partials/admin/adminFooter") %> 