<%- include("../partials/admin/adminHeader") %> 

<style>
.link{
	color: rgb(238, 120, 10);
}

.link:hover{
	color: rgb(243, 186, 79);
}
</style>

<!-- ============================================================== -->
		<!-- Page Content -->
		<!-- ============================================================== -->
		<div id="page-wrapper">
				<div class="container-fluid">
					<!-- hambuga -->
					<%- include("../partials/admin/hamburger") %>
					<!-- hambuga -->
						<%- include("../partials/admin/adminBreadCrumb") %>
						<!-- /row -->
						<div class="row">
								<div class="col-sm-12">
										<div class="white-box">
												<h3 class="box-title">All Students</h3>
												<div class="table-responsive">
														<table class="table student-table">
																<thead>
																		<tr>
																				<th>Name</th>
																				<th>Email</th>
																				<th>Phone Number</th>
																				<th>Current course</th>
																				<th>Start Date</th>
																				<th>End Date</th>
																		</tr>
																</thead>
																<tbody>
																				<%students.forEach(students => {%>
																		<tr>
																			<td><a href="/admin/single-student/<%=students._id %>" class="link"> <%= students.name %><br> (<%= students.studentID %> ) </a></td>
																				<td><%= students.email %> </td>
																				<td><%= students.phone %> </td>
																				
																		</tr>
																	
																			
																		<% }) %> 
																</tbody>
														</table>
												</div>
										</div>
								</div>
						</div>
						<!-- /.row -->
				</div>

<%- include("../partials/admin/adminFooter") %> 